@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bebas+Neue&family=Creepster&family=Nosifer&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&family=Rubik+Wet+Paint&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bebas+Neue&family=Creepster&family=Nosifer&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&family=Rubik+Wet+Paint&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 700px;
    text-align: center;
}

img{
    max-width: 270px;
    border-radius: 10px;
}

.cabecalho{
    z-index: 5;
    margin: 2px;
    position: absolute;
    top: 10px;
    position: fixed;
}

.logo{
    width: 80px;
}

.botao-ctt{
    position: absolute;
    top: 0;
    left: 1200%;
}

.botao-cabecalho {
    color: white;
    background-color: black;
    border: none;
    border-radius: 18px;
    padding: 10px;
    font-size: 13px;
    cursor: pointer;
    margin-left: 100%;
}

.botao-cabecalho:hover {
    font-size: 15px;
    color: lightgray;
    background-color: gray;
    transition: .5s;
}

.links{
    z-index: 5;
    margin: 2px;
    position: absolute;
    left: 36%;
    top: 20px;
    position: fixed;
}

.inicio, .orcamento{
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.orcamento{
    padding-left: 10px;
}

.inicio:hover,
.orcamento:hover {
    color: gray;
    transition: .5s;
}

.descricao{
    margin: 10px;
    margin-top: 120px;
    font-family: 'Playfair', sans-serif;
    font-size: 35px;
    width: 350px;
    line-height:30px;
}

.carousel-imagens{
    width: 80%;
    margin-left: 5%;
    margin-top: 30px;
}

.texto-apresentacao {
    margin: 5px;
    font-family: 'Poppins', sans-serif;
    width: 90%;
    margin-top: 50px;
    font-size: 15px;
}

.noteCod{
    width: 80%;
    margin-left: 9%;
}

.modal {
    margin: 2px;
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.fecharModal{
    margin: 2px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    position: absolute;
    left: 19%;
    top: 1.5%;
}

.modal-conteudo {
    margin: 2px;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    background-color: #181818;
    margin: 30px auto;
    padding: 20px;
    width: 70%;
    color: white;
}

details{
    cursor: pointer;
    text-align: center;
}

.titulo-sumario{
    color: white;
}

summary{
    padding-bottom: 5px;
    text-align: center;
}

details p{
    margin: 5px;
}

.planBronze{
    padding-bottom: 15px;
    background-color: brown;
    border-radius: 18px;
}

.planPrata{
    margin-top: 10px;
    border-radius: 18px;
    background-color: silver;
    padding-bottom: 15px;
}

.planOuro{
    margin-top: 10px;
    border-radius: 18px;
    background-color: gold;
    padding-bottom: 15px;
}

.secondModal{
    text-align: center;
    margin: 10px;
    margin-top: 50px;
    width: 100%;
    display: none;
}

.secMod-conteudo {
    background-color: #151515;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 100px;
    text-align: center;
    border: none;
    padding: 30px;
}

.secMod-conteudo h3{
    width: 230px;
    color: #86868B;
    border-bottom: 1px solid #86868B;
    padding-bottom: 10px;
    margin-left: 20px;
    position: absolute;
    margin-top: 10px;
}

.secMod-conteudo p {
    font-size: 13px;
    color: white;
}

.conteudoMod{
    width: 50%;
    margin-left: 50%;

}

.btn {
    text-align: center;
    margin: 20px;
}

.btnSurpresa {
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding-left: 70px;
}

footer {
    text-align: center;
    margin: 0;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 13px;
    background-color: lightgray;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}